/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

li {
    padding: 5px;
}

/* DEBUG */


/* utility */
.bg-blue {
    background-color: blue;
}

.bg-pink {
    background-color: pink;
}

.bg-yellow{
    background-color: yellow;

}

.bg-brown{
    background-color: brown;
}

.bg-lightblue{
    background-color: lightblue;
}



.min-h-500 {
    min-height: 500px;
    height: 0
    ;
}

.min-h-100{
    min-height: 100px;
}


.min-h-40{
    min-height: 40px;
    height: 0;
}


.flex {
    display: flex;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-around{
    justify-content: space-around;
}

.justify-content-evenly{
    justify-content: space-evenly;
}



.align-items-center{
    align-items: center;
}


.flex-column{
    flex-direction: column;
}

.flex-grow{
    flex-grow: 0;
}


/* x */
.header-nav{
    min-width: 70%;
}

.root {
    margin: 0 auto;
    /* max-width: 200px; */
    width: 100%;
}


.sidebar {
    /* width: 30%; */
    flex-basis: calc(100% / 4);

}

.main {
    /* width: 70%; */
    flex-basis: calc((100% / 4) * 2);
}

.advisor{
  flex-basis: calc(100% / 4);
}

/* .logo{
    flex-basis: 25%;
    border: 1px solid black;
    
}

.login{
    flex-basis: 25%;
     border: 1px solid black;
}

.link{
    flex-basis: 50%;
     border: 1px solid black;
} */