/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

li {
    padding: 5px;
}

/* DEBUG */


/* utility */
.bg-blue {
    background-color: blue;
}

.bg-pink {
    background-color: pink;
}

.bg-yellow {
    background-color: yellow;

}

.bg-brown {
    background-color: brown;
}

.bg-lightblue {
    background-color: lightblue;
}

.bg-antiquewhite {
    background-color: antiquewhite;
}

.bg-grey {
    background-color: grey;
}

.bg-green {
    background-color: green;
}

.bg-black {
    background-color: black;
}

.min-h-500 {
    min-height: 500px;
    height: 0;
}

.min-h-100 {
    min-height: 100px;
}


.min-h-40 {
    min-height: 40px;
    height: 0;
}


.flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.mx-auto {
    margin: 0 auto;
}

.align-items-center {
    align-items: center;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.flex-column {
    flex-direction: column;
}

.flex-grow {
    flex-grow: 0;
}

.border-bottom-white {
    border-bottom: 1px solid white;
}

/* x */
.header-nav {
    min-width: 70%;
}

.sezione1 {
    min-height: 400px;
}



.div-sec-1 {
    min-width: 800px;
    min-height: 300px;
    border: 1px dashed black;
}


.wrapper {
    min-height: 400px;
   
  margin: 0 auto;
    
}


.sezione2 {
    max-height: 700px;
   width: 1000px;
    height: 500px; 
  margin: 0 auto;
    
}



.div-sec-2 {
     width: 500px;
    height: 400px;  
    
}

.left-div {
    /* width: calc(100% / 3); */
    width: 70%;
}

.right-div {
    /* width: calc((100% / 3) * 2); */
    width: 30%;
}

.sezione2-bis {
    flex-direction: row-reverse;
}

.sezione-4 {
    min-height: 800px;
    max-width: 1000px;
}

.footer-column {
    border: 1px dashed white;
    justify-content: space-evenly;
    flex-basis: 25%;
}
